# Caddy Agent Gateway
# Caddy App module ID: "agent_gateway"
# HTTP handler module IDs:
# - "http.handlers.llm_api" with child handlers "http.handlers.llm_api.openai" / "http.handlers.llm_api.anthropic" (Caddyfile directive: "llm_api")
# - "http.handlers.agent_gateway_admin" (Caddyfile directive: "agent_gateway_admin")

{
	admin localhost:2019

	agent_gateway {
		config_store sqlite {
			path ./data/configstore.db
		}

		provider openai {
			api_key {$OPENAI_API_KEY}
			default_model gpt-4.1
		}

		provider zhipu {
			api_key 087df3f931004aa79f5eb276506dc8bb.HFmkopkgESQ1dxbA
			base_url https://open.bigmodel.cn/api/anthropic
			default_model glm-4.7
			option debug_request true
		}

		localapikey test-key {
			user_id local-test
			name "Local Python test key"
			allowed_route openai-chat
		}

		route openai-chat {
			require_local_api_key
			allowed_model gpt-4.1
			allowed_model gpt-4.1-mini
			target openai
		}

		route zhipu-chat {
			require_local_api_key
			allowed_model glm-4.7
			target zhipu
		}
	}
}

http://127.0.0.1:8081 {
	# Admin routes
	route /admin/* {
		agent_gateway_admin {
			admin_user default
			admin_password_hash $2a$14$Qxwz94t//fcaF.lyVzsIee0ZZuSNgS841WmLUo/NKGN5LlQzNg5Me # dummy
		}
	}
}

http://127.0.0.1:8082 {
	log {
		output stderr
		format console
	}

	# LLM API routes
	route /v1/* {
		llm_api openai {
			llm_route_id zhipu-chat
		}
	}
}
